:root{
    --startColor: #3e603e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3e4560;
    color:white;
}

.title{
    text-align: center;
    margin: 20px;
    color: #d6d5ac;
}

label{
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

/* Edit Bar */
.editBar{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-text{
    font-size: 18px;
}

.toggle-btn{
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle{
    transform: translateX(30px);
    background-color: #333;
}

.unselected{
    opacity: 0.25;
}

input{
    margin-bottom: 25px;
    display: flex;
    
}

input[type="text"]{
padding: 5px 10px;
border-radius: 20px;
border: none;
}
/*  */

/* Color Display */
.colorDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.alteredColorpack{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.singleBox{
    display: flex;
    height: 100px;
    width: 80%;
    background-color: var(--startColor);
    margin-bottom: 25px;
}

.multiBox{
    flex: 0 0 33.333333%;
    height: 100px;
    margin: 5px 5px;
}

.IBox{
    background-color: var(--startColor);
}

.CBox{
    background-color: var(--startColor);
}

.HBox{
    background-color: var(--startColor);
}

.SBox{
    background-color: var(--startColor);
}
/*  */





